body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.link {
  font-weight: 700;
  padding: 21px; 
  text-decoration: none;
  color: #000;
}

.flex-container {
    display: flex;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu.flex-container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.menu.flex-container #menu-items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
}

.logo-container {
    margin-right: 20px;
}

.flex-container .logo {
    width: 70px;
    height: 70px;
}

.btn-home {
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  font-size: 14px;
  text-decoration: none;
}

#home {
    height: 600px;
    margin-top: 70px;

    background-image: url(../assets/images/bg-home.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: whitesmoke;
}

.text-home {
    font-size: 2.4em;
}

.box-services {
    font-size: 1.2em;
    font-weight: bold;
}

#services {
    background-color: #F17C72;
    text-align: center;
    color: #fff;
    padding: 70px;
}

#services.flex-container, #work.flex-container {
    justify-content: space-around;
    flex-wrap: wrap;    
}

#work {
    padding: 40px 70px;
    text-align: center;
}

#work .proyecto {
    width: 300px;
    padding: 2em;
}

#work .container {
    padding: 0;
}

#work .proyecto img {
    width: 100%;
}

footer {
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}